---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';
import { Image } from "astro:assets";
const releases = (await getCollection('releases')).map(e => e.data);
const imageModules = import.meta.glob("../../content/releases/assets/*.{jpg,jpeg,png,webp}", { eager: true, import: "default" }) as Record<string, any>;

---

<BaseLayout title="Releases">
  <h1 class="text-3xl font-bold uppercase mb-6n">Release Catalogue</h1>
  <p class="text-md text-gray-500 mb-6">For all sync enquiries contact <a href="mailto:Jeff@bighugmusicgroup.com" class="">Jeff@bighugmusicgroup.com</a></p>
  <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
    {releases
    .sort((a, b) => b.catalogue_number - a.catalogue_number)
    .map((release) => {
      const imageFile = release.image ? release.image.split('/').pop() : undefined;
      const importedImage = imageFile ? imageModules[`../../content/releases/assets/${imageFile}`] : undefined;
      return (
      <li>
        <a href={`/releases/${release.slug}`}>
        <div class="flex flex-col gap-4">
          <div>
          {importedImage ? (
            <Image src={importedImage} alt={release.release_name} />
          ) : (
            <img src={release.image} alt={release.release_name} />
          )}
          </div>
          <div>
            <h2 class="text-lg font-semibold">{release.release_name}</h2>
            <p class="text-sm text-gray-500">{release.artist}</p>
            <p class="text-sm text-gray-500">{release.catalogue_reference} - {release.type} - {release.format}</p>
            <p class="text-sm text-gray-500">{release.release_date}</p>
          </div>
        </div>
        </a>
      </li>
    )})}
  </ul>
</BaseLayout>