---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';

const releases = (await getCollection('releases')).map(e => e.data);

---

<BaseLayout title="Releases">
  <h1 class="text-3xl font-bold uppercase mb-6n">Release Catalogue</h1>
  <p class="text-md text-gray-500 mb-6">For all sync enquiries contact <a href="mailto:Jeff@bighugmusicgroup.com" class="">Jeff@bighugmusicgroup.com</a></p>
  <ul class="grid grid-cols-2 gap-6">
    {releases
    .sort((a, b) => b.catalogue_number - a.catalogue_number)
    .map((release) => (
      <li>
        <a href={`/releases/${release.slug}`}>
          <h2 class="text-lg font-semibold">{release.release_name}</h2>
          <p class="text-sm text-gray-500">{release.artist}</p>
          <p class="text-sm text-gray-500">{release.catalogue_reference} - {release.type} - {release.format}</p>
          <p class="text-sm text-gray-500">{release.release_date}</p>
        </a>
      </li>
    ))}
  </ul>
</BaseLayout>